body, html, #root {
  height: 100%;
  background: #eee;
}
.jumbotron {
  background-color: #eee;
}
.explainer {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  color: #666;
  text-align: left;
  font-size: smaller;
}
.footer{
  padding-top: 50px;
  padding-bottom: 20px;
  color: #666;
  font-size: smaller;
}