body, html, #root {
  height: 100%;
  background: #eee;
}
.jumbotron {
  background-color: #eee;
}
.alert-warning {
  border: 1px solid #ddd;
  text-align: left;
}
.footer{
  padding-top: 50px;
  padding-bottom: 20px;
  color: #666;
  font-size: smaller;
}